<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
    <a href="#" class="logo">
      <img src="/assets/img/logo.png" alt="eTasked">
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="#" class="js-sidebar-open">
            <svg class="etsk-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="OPEN MENU"><use xlink:href="/assets/icons/icons.svg#etsk-menu-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="/posts">
            <svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/assets/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="/mentors">
            <svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="MENTORS"><use xlink:href="/assets/icons/icons.svg#etsk-star-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="GROUPS"><use xlink:href="/assets/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="EVENTS"><use xlink:href="/assets/icons/icons.svg#etsk-calendar-icon"></use></svg>
          </a>
        </li>
        <li>
          <a href="/profile">
            <svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="ACCOUNT"><use xlink:href="/assets/icons/icons.svg#etsk-stats-icon"></use></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
    <a href="/profile" class="logo">
      <img src="/assets/img/logo.png" alt="eTasked">
      <h6 class="logo-title">eTasked</h6>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="#" class="js-sidebar-open">
            <svg class="etsk-close-icon left-menu-icon"><use xlink:href="/assets/icons/icons.svg#etsk-close-icon"></use></svg>
            <span class="left-menu-title">Collapse Menu</span>
          </a>
        </li>
        <li>
          <a href="/posts">
            <svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/assets/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
            <span class="left-menu-title">Newsfeed</span>
          </a>
        </li>
        <li>
          <a href="/mentors">
            <svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/assets/icons/icons.svg#etsk-star-icon"></use></svg>
            <span class="left-menu-title">Mentors</span>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Connection GROUPS"><use xlink:href="/assets/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
            <span class="left-menu-title">Groups</span>
          </a>
        </li>
        <li>
          <a href="/events">
            <svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="CALENDAR AND EVENTS"><use xlink:href="/assets/icons/icons.svg#etsk-calendar-icon"></use></svg>
            <span class="left-menu-title">Events</span>
          </a>
        </li>
        <li>
          <a href="/profile">
            <svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Account Stats"><use xlink:href="/assets/icons/icons.svg#etsk-stats-icon"></use></svg>
            <span class="left-menu-title">Account Stats</span>
          </a>
        </li>
      </ul>

      <div class="profile-completion">

        <div class="skills-item">
          <div class="skills-item-info">
            <span class="skills-item-title">Profile Completion</span>
            <span class="skills-item-count"><span class="count-animate" data-speed="1000" data-refresh-interval="50" data-to="76" data-from="0"></span><span class="units">25%</span></span>
          </div>
          <div class="skills-item-meter">
            <span class="skills-item-meter-active bg-primary" style="width: 25%"></span>
          </div>
        </div>

        <span>Complete <a href="#">your profile</a> so people can know more about you!</span>

      </div>
    </div>
  </div>
</div>

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
    <a href="#" class="logo js-sidebar-open">
      <img src="/assets/img/logo.png" alt="eTasked">
    </a>

  </div>

  <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
    <a href="#" class="logo">
      <img src="/assets/img/logo.png" alt="eTasked">
      <h6 class="logo-title">eTasked</h6>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">

      <div class="control-block">
        <div class="author-page author vcard inline-items">
          <div class="author-thumb">
    
            <img src="{{user.avatar}}" alt="author" style="width:100%;" class="avatar">
            
            <span class="icon-status online"></span>
          </div>
          <a href="#" class="author-name fn">
            <div class="author-title">
              {{user.first_name}} {{user.last_name}} <svg class="etsk-dropdown-arrow-icon">
                <use xlink:href="/assets/icons/icons.svg#etsk-dropdown-arrow-icon"></use></svg>
            </div>
            <span class="author-subtitle">Software Engineer</span>
          </a>
        </div>
      </div>

      <div class="ui-block-title ui-block-title-small">
        <h6 class="title">MAIN SECTIONS</h6>
      </div>

      <ul class="left-menu">
        <li>
          <a href="#" class="js-sidebar-open">
            <svg class="etsk-close-icon left-menu-icon"><use xlink:href="/assets/icons/icons.svg#etsk-close-icon"></use></svg>
            <span class="left-menu-title">Collapse Menu</span>
          </a>
        </li>
        <li>
          <a href="/posts">
            <svg class="etsk-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="NEWSFEED"><use xlink:href="/assets/icons/icons.svg#etsk-newsfeed-icon"></use></svg>
            <span class="left-menu-title">Newsfeed</span>
          </a>
        </li>
        <li>
          <a href="/mentors">
            <svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/assets/icons/icons.svg#etsk-star-icon"></use></svg>
            <span class="left-menu-title">Mentors</span>
          </a>
        </li>
        <li>
          <a href="/profile">
            <svg class="etsk-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Connection GROUPS"><use xlink:href="/assets/icons/icons.svg#etsk-happy-faces-icon"></use></svg>
            <span class="left-menu-title">Groups</span>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="etsk-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="CALENDAR AND EVENTS"><use xlink:href="/assets/icons/icons.svg#etsk-calendar-icon"></use></svg>
            <span class="left-menu-title">Events</span>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="etsk-stats-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Account Stats"><use xlink:href="/assets/icons/icons.svg#etsk-stats-icon"></use></svg>
            <span class="left-menu-title">Account</span>
          </a>
        </li>
      </ul>

      <div class="ui-block-title ui-block-title-small">
        <h6 class="title">ACCOUNT</h6>
      </div>

      <ul class="account-settings">
        <li>
          <a href="#">

            <svg class="etsk-menu-icon"><use xlink:href="/assets/icons/icons.svg#etsk-menu-icon"></use></svg>

            <span>Profile Settings</span>
          </a>
        </li>
        <li>
          <a href="/mentors">
            <svg class="etsk-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="FAV PAGE"><use xlink:href="/assets/icons/icons.svg#etsk-star-icon"></use></svg>

            <span>Find Mentors</span>
          </a>
        </li>
        <li>
          <a href="/">
            <svg class="etsk-logout-icon"><use xlink:href="/assets/icons/icons.svg#etsk-logout-icon"></use></svg>

            <span>Log Out</span>
          </a>
        </li>
      </ul>

      <div class="ui-block-title ui-block-title-small">
        <h6 class="title">About eTasked</h6>
      </div>

      <ul class="about-eTasked">
        <li>
          <a href="#">
            <span>Careers</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Contact</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Terms & Conditions</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- ... end Fixed Sidebar Left -->